::-webkit-scrollbar {
    width: .5rem;
    height: 0;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(122, 122, 122, 0.4);
    border-radius: 3px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

h1 {
    font-size: 1.5em; /* Reduce font size of h1 */
}

h2 {
    font-size: 1.3em; /* Reduce font size of h2 */
}

h3 {
    font-size: 1.15em; /* Reduce font size of h3 */
}

h4, h5, h6 {
    font-size: 1em; /* Reduce font size of h4, h5, h6 */
}

em {
    font-size: 1rem;
}


  