::-webkit-scrollbar {
    width: .5rem;
    height: 0;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(122, 122, 122, 0.4);
    border-radius: 3px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

em {
    font-size: 1rem;
}